/*Niklas Trzaska: 416024*/
/*Jasper Buß: 430423*/
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

input{
    width: 150px;
}

#distancesTable {
  margin-top: 100px;
}
